<%- model_class = Store -%>
<div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> (<%= @stores.count-%>)</h1>
</div>

 <%= content_tag 'p', notice, { :id => 'notice', :class => 'alert alert-success' } if notice -%>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td>
      <div class="btn-toolbar">
        <div class="btn-group">         
          <%= link_to_edit store -%>
          <%= link_to_destroy store -%>
        </div>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path, :class => "btn btn-primary" %>
