<%- model_class = Expense -%>
<div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> (<%= @expenses.count-%>)</h1>
</div>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>Store</th>
    <th>Cost</th>
    <th>Comment</th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.store_name -%></td>
    <td><p class='text-error'>- <%= number_to_currency expense.cost %></p></td>
    <td><%= expense.comment %></td>
    <td>
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= link_to_edit expense -%>
          <%= link_to_destroy expense -%>
        </div>
      </div>
    </td>
  </tr>
<% end %>
  <tr>
    <td>&nbsp</td>
    <td><p class='text-error'><strong>- <%= number_to_currency(Expense.sum(@expenses)) -%></strong></p></td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
</table>

<br />

<%= link_to 'New Expense', new_expense_path, { :class => "btn btn-primary" } %>
