 id="notice"><%= notice %></p>

<p>
  <b>Store:</b>
  <%= @expense.store_id %>
</p>

<p>
  <b>Cost:</b>
  <%= @expense.cost %>
</p>

<p>
  <b>Comment:</b>
  <%= @expense.comment %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
